---
import WhatsAppButton from './WhatsAppButton.astro';
import ProductModal from './ProductModal.astro';

interface Props {
  title: string;
  price: number;
  description: string;
  image: string;
}

const { title, price, description, image } = Astro.props;
const whatsappMessage = `Hola, me interesa obtener más información sobre ${title}`;
const modalId = `modal-${title.toLowerCase().replace(/\s+/g, '-')}`
---

<div class="product-card">
  <div class="card-content" onclick={`modalManager.openModal('${modalId}')`}>
    <img src={image} alt={title} class="product-image" />
    <div class="product-info">
      <h2>{title}</h2>
      <p class="description">{description}</p>
    </div>
  </div>
  <div class="card-actions">
    <WhatsAppButton message={whatsappMessage} />
  </div>
</div>
<ProductModal 
  id={modalId}
  title={title}
  description={description}
  image={image}
/>

<style>
  .product-card {
    background: var(--glass-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--glass-shadow);
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-4px);
    }
    .card-content{
      cursor: pointer;
      
      .product-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      
      .product-info {
        padding: 1.5rem;
      }
    }
    .card-actions{
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
    h2 {
      margin: 0;
      font-size: 1.25rem;
      color: white;
    }
  
    .description {
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.5;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
</style>